<script lang="ts" src="./Loader.ts"></script>

<template>
	<div class="container">
		<div class="lds-facebook">
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</template>

<style scoped lang="scss" src="./Loader.scss"></style>
