<script lang="ts" src="./CharacterDetail.ts"></script>

<template>
	<div>
		<Header on-detail-page />

		<Loader v-if="loading" />

		<div v-if="!loading">
			<div id="character-detail" class="container">
				<div class="row row-cols-1 row-cols-md-3">
					<div class="col">
						<div class="card">
							<div class="card-header text-center">
								{{ character.type || character.gender }}
							</div>
							<img :src="character.image" class="card-img-top" :alt="character.name" />
							<div class="card-body">
								<h1 class="card-title">{{ character.name }}</h1>

								<h5 class="card-title">{{ character.species }} ({{ character.status }})</h5>

								<p class="card-text">
									<svg
xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
										class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
										<path
fill-rule="evenodd"
											d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
									</svg>
									&nbsp;
									<small class="text-muted">{{ character.location.name }}</small>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<style scoped lang="scss" src="./CharacterDetail.scss"></style>
