<script lang="ts" src="./Characters.ts"></script>

<template>
	<Header :on-detail-page="false" />

	<Loader v-if="loading" />

	<div v-if="!loading" id="characters-list" class="container">
		<Pagination />

		<div class="row row-cols-1 row-cols-md-4">
			<div v-for="(character, index) in characters" :key="index" class="col character">
				<div class="card" @click="goToCharacterDetail(character.id)">
					<img :src="character.image" class="card-img-top" :alt="character.name" />
					<div class="card-body">
						<h5 class="card-title">{{ character.name }}</h5>
					</div>
				</div>
			</div>
		</div>

		<Pagination />
	</div>
</template>

<style scoped lang="scss" src="./Characters.scss"></style>
