#hero {
	margin-top: 100px;

	h1 {
		font-weight: bold;
	}

	h5 {
		margin-top: 60px;
		margin-bottom: 40px;
	}

	.btn-get-started {
		margin: auto;
		font-weight: 500;
		font-size: 14px;
		letter-spacing: 0.5px;
		display: inline-block;
		padding: 14px 50px;
		border-radius: 5px;
		transition: 0.5s;
		margin-top: 30px;
		color: #fff;
		background: #2487ce;

		&:hover {
			background: #3194db;
		}
	}
}
