header {
	position: relative;
	background-color: #343a40;
	padding-top: 8rem;
	padding-bottom: 8rem;

	h1 {
		font-size: 2rem;
	}

	form {
		.form-row {
			div {
				&:first-child {
					margin: auto;
				}

				input {
					border-radius: 0;
				}

				#status {
					font-size: 18px;
					margin-top: 15px;
					display: flex;
					justify-content: space-evenly;
					cursor: pointer;

					span {
						&.text-bg-success,
						&.text-bg-primary {
							&:hover {
								color: #000 !important;
								text-decoration: underline;
							}

							&.active {
								color: #000 !important;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}

	@media (min-width: 768px) {
		padding-top: 4rem;
		padding-bottom: 4rem;

		h1 {
			font-size: 2rem;
		}
	}
}
